{{- define "main" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{- block "title" . }}
          go.anx.io - go packages by Anexia
      {{ end -}}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/chroma/style.css">
    {{- block "meta" . }}
    {{ end -}}
  </head>
  <body>
    <header>
      <h1>
      {{- block "headerTitle" . -}}
        {{- template "title" . -}}
      {{- end -}}
      </h1>
      {{- block "header" . }}
      {{- end }}
    </header>
    <main>
      {{ block "content" . }}
        {{- with .Content.Markdown }}
          {{- . | renderMarkdown -}}
        {{- end }}
      {{- end }}

      {{- with .Packages }}
        <section class="packages">
        {{- range . }}
          <article>
            <h3>go.anx.io/{{ .TargetName }}</h3>
            <summary>
              {{ .Summary }}
            </summary>
            <footer>
              <a href="/{{ .TargetName }}/">More</a>
            </footer>
          </article>
        {{ end -}}
        </section>
      {{- end }}
    </main>
    <footer>
      <hr />
      &copy; 2006 - {{ .CurrentYear }} Anexia Internetdienstleistungs GmbH
    </footer>
  </body>
</html>
{{- end -}}
