{{- define "" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{- block "title" .PageData }}
          go.anx.io - go packages by Anexia
      {{ end -}}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/chroma/style.css">
    {{- block "meta" .PageData }}
    {{ end -}}
  </head>
  <body>
    <header>
      <h1>
      {{- block "headerTitle" .PageData -}}
        {{- template "title" . -}}
      {{- end -}}
      </h1>
      {{- block "header" .PageData }}
      {{- end }}
    </header>
    <main>
      {{ block "content" .PageData }}
        {{- with .MarkdownContent }}
          {{- . | renderMarkdown -}}
        {{- end }}
      {{- end }}
    </main>
    <footer>
      <hr />
      <span class="buildinfo">Generated on {{ .CurrentTime | formatDate }} from 
        {{ if .SourceURL -}}
          <a href="{{ .SourceURL }}">{{ .Version }}</a>
        {{- else -}}
          {{- .Version -}}
        {{- end -}}
      </span>
      <span class="copyright">&copy; 2006 - {{ .CurrentTime.Year }} Anexia Internetdienstleistungs GmbH</span>
    </footer>
  </body>
</html>
{{- end -}}
