{{ define "meta" }}
    <meta name="description" content="Go packages made by Anexia">
{{ end }}

{{ define "body_classes" }}class="mainpage"{{ end }}

{{ define "content" }}
  {{- with .MarkdownContent }}
    {{- . | renderMarkdown -}}
  {{- end }}

  {{- with .Packages }}
    <section class="packages">
    {{- range . }}
    {{- $highestMajor := index .FileReader.MajorVersions 0 -}}
      <article>
        <h3>go.anx.io/{{ .TargetName }}</h3>
        <summary>
          {{ .Summary }}
        </summary>
        <footer>
          <a href="/{{ .TargetName }}
            {{- with $highestMajor -}}
              /{{- . -}}
          {{- end -}}
          ">{{ .TargetName }} docs</a>
        </footer>
      </article>
    {{ end -}}
    </section>
  {{- end }}
{{- end }}
