{{ define "content" }}
  {{- with .MarkdownContent }}
    {{- . | renderMarkdown -}}
  {{- end }}

  {{- with .Packages }}
    <section class="packages">
    {{- range . }}
    {{- $highestMajor := index .FileReader.MajorVersions 0 -}}
      <article>
        <h3>go.anx.io/{{ .TargetName }}</h3>
        <summary>
          {{ .Summary }}
        </summary>
        <footer>
          <a href="/{{ .TargetName }}/
            {{- with $highestMajor -}}
              {{- . -}}
          {{- end -}}
          ">More</a>
        </footer>
      </article>
    {{ end -}}
    </section>
  {{- end }}
{{- end }}
