{{- define "title" -}}
    go.anx.io/{{- .Package.TargetName -}}
    {{- with .MajorVersion }}/{{ . }}{{ end -}}
    {{- with .MarkdownContent | extractFirstHeader }} - {{ . -}}{{- end -}}
{{- end -}}

{{- define "headerTitle" -}}
    go.anx.io/{{- .Package.TargetName -}}
    {{- with .MajorVersion }}/{{ . }}{{ end -}}
{{- end -}}

{{ define "meta" }}
    <meta name="go-import" content="go.anx.io/{{ .Package.TargetName -}}
                {{- with .MajorVersion }}/{{ . }}{{ end }} git {{ .Package.Source }}">
    <meta name="go-source" content="go.anx.io/{{ .Package.TargetName -}}
    {{- with .Package.Source | removeGitRepoSuffix }} {{/* line break trim comment */ -}}
        {{ . }} {{/* line break trim comment */ -}}
        {{ . }}/tree/{{ $.CurrentVersion }} {{/* line break trim comment */ -}}
        {{ . }}/tree/{{ $.CurrentVersion }}/{{ $.CurrentFile }}
    {{- end -}}">
{{ end }}

{{ define "header" }}
{{- $highestMajorVersion := index .Package.FileReader.MajorVersions  0 -}}
      <hr />
      <nav>
        <a href="https://pkg.go.dev/go.anx.io/{{ .Package.TargetName }}@{{ .CurrentVersion }}">API documentation</a>
        <a href="{{ .Package.Source | removeGitRepoSuffix }}">Source repository</a>
        <div role="combobox">
          <label id="versionLabel">Version:</label>
          <menu class="dropdown" role="listbox" aria-labelledby="versionLabel">
            {{ range $major := .Package.FileReader.MajorVersions -}}
              <li role="option" aria-selected="false" class="majorVersion">
                <a href="/
                  {{- $.Package.TargetName }}/
                  {{- if ne . "" -}}
                    {{ . }}/
                  {{- end -}}
                  {{ $.CurrentFile }}">{{ . | default "v1" }}</a>
              </li>
              {{ range $.Package.FileReader.Versions . -}}
                <li role="option" aria-selected="
                  {{- if eq . $.CurrentVersion -}}
                    true
                  {{- else -}}
                    false
                  {{- end -}}
                  ">
                  <a href="/
                    {{- $.Package.TargetName }}/
                    {{- if ne $major "" -}}
                      {{ $major }}/
                    {{- end -}}
                    {{ $.CurrentFile }}@{{ . }}">{{ . }}</a>
                </li>
              {{ end -}}
            {{ end -}}
          </menu>
        </div>
        <a class="common" href="/">Discover more packages</a>
      </nav>
    {{ if ne .MajorVersion $highestMajorVersion }}
      <span class="outdatedVersionNotice">
        The highest tagged major version is <a href="/
          {{- $.Package.TargetName }}/
          {{- if ne $highestMajorVersion "" -}}
            {{ $highestMajorVersion }}/
          {{- end -}}
          {{ $.CurrentFile }}">{{ $highestMajorVersion | default "v1" }}</a>.
      </span>
    {{- end }}
{{- end }}

{{- define "packages" -}}
{{- end -}}

{{ template "layout" . }}
